In [1]:
print("jai Ganesh")

jai Ganesh

## List Comprehension

#### syntax : [ expression for item in iterable/sequence ]

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

### Squares of numbers 1 to 5

In [3]:
#[ expression for item in iterable/sequence ]
list1=[item**2 for item in range(1,6)]

In [4]:
print(list1)

[1, 4, 9, 16, 25]

### cube of numbers 1 to 5

In [7]:
list2=[item**3 for item in range(1,6)]

In [8]:
print(list2)

[1, 8, 27, 64, 125]

In [9]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

#Even numbers from 1 to 20

In [28]:
#[ expression for item in iterable/sequence if condtion ]

list3=[item for item in range(1,21) if item%2==0]

#[1,2,3,---------20]

In [29]:
print(list3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
list1=[]
for item in range(1,21):
    if (item%2 ==0):
        list1.append(item)

print(list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [31]:
print(list3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Convert words to uppercase

In [32]:
animals=['cat','dog','fish','bird']

In [33]:
#[ expression for item in iterable/sequence if condtion ]

list2=[item.upper() for item in animals ]

In [34]:
print(list2)

['CAT', 'DOG', 'FISH', 'BIRD']

In [35]:
list3=[item.title() for item in animals ]

In [36]:
print(list3)

['Cat', 'Dog', 'Fish', 'Bird']

In [38]:
animals=['cat','dog','fish','bird','big']

In [41]:
list3=[item for item in animals if item.startswith('b')]

In [42]:
print(list3)

['bird', 'big']

### Squares of even numbers 0–9   -> [0, 4, 16, 36, 64]

In [43]:
list4=[item**2 for item in range(10) if (item%2==0)]

In [44]:
list4

[0, 4, 16, 36, 64]

### Extract lengths of words ->[6, 2, 3, 3, 4]
### words = ['Python','is','fun','and','easy']

In [45]:
words = ['Python','is','fun','and','easy']

In [46]:
list4=[len(item) for item in words ]

In [47]:
print(list4)

[6, 2, 3, 3, 4]

In [48]:
words=['cat','dog','ox','fish']
uniq_len={len(w) for w in words}
print(uniq_len)

{2, 3, 4}

## Dictionary Comprehension

In [ ]:
# syntax: { key_expression : value_expression for item in sequence/iterable if condition }

In [51]:
list1=["a","b","c"]

In [52]:
dict1={item:10 for item in list1 }

In [53]:
print(dict1)

{'a': 10, 'b': 10, 'c': 10}

#### convert no to seq in this form -> {0:0, 1:1, 2:4, 3:9, 4:16}

In [54]:
dict2={item:item**2 for item in range(0,5)}

In [55]:
print(dict2)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### animals=['cat','dog','elephant'] -> {'cat':3, 'dog':3, 'elephant':8}

In [56]:
animals=['cat','dog','elephant']

In [57]:
dict2={item:len(item) for item in animals}

In [59]:
print(dict2)

{'cat': 3, 'dog': 3, 'elephant': 8}

### Student → Grade (pass only) ->{'Alice':82, 'Carol':91}

In [60]:
Students={'Alice':82,'Bob':45,'Carol':91}

In [63]:
dict2={key:value for key,value in Students.items() if (value>=50)}

In [64]:
dict2

{'Alice': 82, 'Carol': 91}

### invert a dictionary

In [65]:
original = {'a':1, 'b':2, 'c':3}

In [68]:
dict2={value:key for key,value in original.items()}

In [69]:
dict2

{1: 'a', 2: 'b', 3: 'c'}