In [2]:
List1= [1,2,3,4,5]

In [3]:
print(type(List1))

<class 'list'>

In [4]:
List1.upper()

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
class list:
    def append():


item=ClassName()

In [ ]:
list2=[1,2,3,4,5]

In [9]:
list2.append(2)

In [10]:
list2

[10, 2]

In [ ]:
def fun_name():
    return result

result=fun_name()

In [4]:
string1="hello"

In [5]:
string1.append("world")

AttributeError: 'str' object has no attribute 'append'

##### IMP: Everything in a python is an object

In [30]:
class Vehical:
    def __init__(self):
        self.color="red"
        self.top_speed=150
        self.milage=20
    def display_car_details(self):
        print("car colour is",self.color)
        print("car's milage is",self.milage)
        print("car's top speed is",self.top_speed)

obj1=Vehical()
obj1.display_car_details()

car colour is red
car's milage is 20
car's top speed is 150

In [26]:
obj1=Vehical()

In [13]:
print(type(obj1))

<class '__main__.Vehical'>

In [27]:
obj1.color

'red'

In [24]:
obj1.top_speed

150

In [28]:
obj1.display_car_details()

car colour is red
car's milage is 20
car's top speed is 150

In [15]:
list1=list()

In [16]:
print(type(list1))

<class 'list'>

In [22]:
list1.append(10)

In [23]:
list1

[1, 10]

In [3]:
list1=list()

In [4]:
print(type(list1))

<class 'list'>

In [5]:
list1.append(10)

In [6]:
list1

[10]

In [12]:
str1="hello"
list1=[1,2,3]
tuple1=(1,2,3)
set1={1,2,3}

In [13]:
len(set1)

3

inbuilt-function

#### Superpower: The constructor's code runs AUTOMATICALLY when an object is created â€” you never have to call it.

In [ ]:
#len(),sum(),any(),all(),min(),max(),print(),input(),ord(),chr(),type(),id(),sorted(),reversed(),enumerate()

In [56]:
class BankATM:
    def __init__(self):
        self.secret_code="1234"
        self.account_bal=0
        print("Constructor has been called!")
        self.display()
    
    def display(self):
        print("dispaly method has been executed")

obj1=BankATM()
id(obj1)
# obj1.display()
# obj1.secret_code
# obj1.account_bal

Constructor has been called!
dispaly method has been executed

125199450999168

In [55]:
obj2=BankATM()
id(obj2)
# obj2.display()

Constructor has been called!

125198956865616

In [43]:
roll_no=100

In [ ]:
"roll_no"

In [87]:
class Student:
    def __init__(self,name,roll_no):
        self.name=name
        self.roll_no=roll_no
        print("Constructor has been called")
        self.dispaly_info()

    def dispaly_info(self):
        print("name:",self.name)
        print("roll no:",self.roll_no)
        self.demo_fun()

    def demo_fun(self):
        print("demo function has been callled")

student1=Student("Ganesh",101)
student2=Student("Santosh",102)
print(student1.name)
student1.name="Mahesh"
print(student1.name)
print(student2.name)

Constructor has been called
name: Ganesh
roll no: 101
demo function has been callled
Constructor has been called
name: Santosh
roll no: 102
demo function has been callled
Ganesh
Mahesh
Santosh

In [65]:
id(student1)

125199451007232

In [67]:
id(student2)

125198956864656

In [64]:
student1.dispaly_info()

name: ganesh
roll no: 101.1
demo function has been callled

In [60]:
student1.demo_fun()

demo function has been callled

In [61]:
student1.roll_no

101.1

In [49]:
student1=Student()
student1.dispaly_info()

Constructor has been called
name: ganesh
roll no: 101.1

In [50]:
student1.dispaly_info()

name: ganesh
roll no: 101.1

In [82]:
class BankATM:
    def __init__(self):
        self.name="ganesh"

    def update_pin(self):  # MISSING self!
        print("jai ganesh")
        self.demo()

    def demo(self):
        print("demo")

obj1 = BankATM()
obj2 = BankATM()